@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Righteous&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    width: 100%;
    background-color: black;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open-sans', sans-serif;
}


#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem 1rem 1rem 0;
}

.btn__favorite {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    width: 2.7rem;
    height: 2.7rem;
    margin-bottom: 2rem;
}

.btn__more {
    cursor: pointer;
    border: none;
    background-color: rgba(5, 59, 163, 1);
    padding: 0.5rem 2.4rem;
    border-radius: 3rem;
    color: white;
    width: 11rem;
    font-size: 1.3rem;
}